<div th:fragment="navbar" class="col-md-3">
    <div class="admin-sidebar">
        <ul class="admin-menu">
            <li>
                <a href="/admin/home" class="admin-menu-item">
                    <i class="icofont-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/admin/categories" class="admin-menu-item">
                    <i class="icofont-list"></i>
                    <span>Quản lý danh mục</span>
                </a>
            </li>
            <li>
                <a href="/admin/users" class="admin-menu-item">
                    <i class="icofont-users"></i>
                    <span>Quản lý người dùng</span>
                </a>
            </li>
            <li>
                <a href="/" class="admin-menu-item">
                    <i class="icofont-home"></i>
                    <span>Về trang chủ</span>
                </a>
            </li>
        </ul>
    </div>
</div>