<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>
    <footer class="footer-part" th:fragment="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xl-3">
            <div class="footer-widget">
              <a class="footer-logo" href="javascript:void(0);"
                ><img src="/images/logo/logo.png" alt="logo"
              /></a>
              <p class="footer-desc">OneShop - Mỹ phẩm cao cấp</p>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3">
            <div class="footer-widget contact">
              <h3 class="footer-title">Liên hệ</h3>
              <ul class="footer-contact">
                <li>
                  <i class="icofont-ui-email"></i>
                  <p><span>support@oneshop.com</span></p>
                </li>
                <li>
                  <i class="icofont-ui-touch-phone"></i>
                  <p><span>+84 123 456 789</span></p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3">
            <div class="footer-widget">
              <h3 class="footer-title">Thông tin</h3>
              <div class="footer-links">
                <ul>
                  <li><a href="javascript:void(0);">Thông tin giao hàng</a></li>
                  <li><a href="javascript:void(0);">Trợ giúp & câu hỏi</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3">
            <div class="footer-widget">
              <h3 class="footer-title">Thời gian mở cửa</h3>
              <div class="footer-links">
                <ul>
                  <li><a href="javascript:void(0);">Thứ 2-6 : 8h-20h</a></li>
                  <li><a href="javascript:void(0);">T7-CN : 9h-17h</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="footer-bottom">
              <p class="footer-copytext">&copy; OneShop</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
